@import "src/styles";

.left-bar {
  width: $sideBarSize;
  background-color: #444444;
  height: 100%;
}

.button-faded {
  filter: brightness(50%);
}

@media (max-width: $mediaBreakpointMobile) {
  .left-bar {
    width: 100%;
    height: $sideBarSize;
  }
}

