<div>
  <div class="typeSelection">
    <ng-container *ngIf="(itemList$ | async)?.length">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedImageType" (selectionChange)="setItemType()">
          <mat-option [value]="imageTypeOptions.TCI">tci</mat-option>
          <mat-option [value]="imageTypeOptions.NDVI">ndvi</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

  <div class="listDiv">
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="itemList">
      <div *cdkVirtualFor="let item of itemList$ | async" class="itemEntry">
        <mat-checkbox class="checkbox"
                      (change)="updateSelectedStats($event, item)"
                      [checked]="(selectedStatsItems$ | async)?.has(item)"
        ></mat-checkbox>
        {{item.dateTime | date:"yyyy-MM-dd HH:mm":"UTC":"en_US"}}
        <ng-container *ngIf="(imageSelectedItemId$ | async) === item.id; else unselectedItem">
          <ng-container *ngIf="!(imageIsLoading | async); else loadingItem">
            <ng-container *ngIf="!(imageError$ | async); then loadedItem; else failedItem"></ng-container>
          </ng-container>
        </ng-container>
        <ng-template #unselectedItem>
          <button mat-mini-fab (click)="loadImage(item)"><mat-icon>visibility</mat-icon></button>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>

  </div>

  <mat-error>{{imageError$ | async}}</mat-error>

</div>

<ng-template #loadingItem>
  <button mat-mini-fab  disabled><mat-icon>hourglass_bottom</mat-icon></button>
</ng-template>

<ng-template #failedItem>
  <button mat-mini-fab color="warn" disabled><mat-icon>error_outline</mat-icon></button>
</ng-template>

<ng-template #loadedItem>
  <button mat-mini-fab color="primary" (click)="removeImage()"><mat-icon>visibility_off</mat-icon></button>
</ng-template>





